[Unit]
Description=FRIGATE service
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/frigate
WorkingDirectory=/opt/frigate
ExecStartPre=/usr/local/bin/pre-frigate.sh
ExecStart=/usr/bin/python3 -u -m frigate
StandardOutput=file:/dev/shm/logs/frigate/current
Restart=always

[Install]
WantedBy=frigate.target
