[Unit]
Description=GO2RTC service
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/frigate
ExecStart=/bin/bash /etc/s6-overlay/s6-rc.d/go2rtc/run
Restart=always

[Install]
WantedBy=frigate.target
