[Unit]
Description=GO2RTC service
After=network.target
After=create-logs.service
Requires=create-logs.service

[Service]
Type=simple
EnvironmentFile=/etc/default/frigate
ExecStart=/bin/bash /etc/s6-overlay/s6-rc.d/go2rtc/run 2>&1
Restart=always
StandardOutput=append:/dev/shm/logs/go2rtc/current

[Install]
WantedBy=frigate.target
